/* src/components/Chat.css */

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #36393f;
  padding: 20px;
  border-radius: 12px;
  color: #ffffff;
  /* width: 50%; */
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .chat-container {
    width: 70%;
  }
}

@media only screen and (max-width: 767px) {
  .chat-container {
    width: 90%;
  }
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.empty-chat-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #b0b3b8;
  font-size: 1.2rem;
  opacity: 0.8;
}

.message {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 0.9rem;
}

.message.bot {
  align-self: flex-start;
  background-color: #fff;
}

.message.user {
  align-self: flex-end;
  background-color: #777;

  p {
    color: #fff;
  }
}

.message p {
  margin: 0;
}
